<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>nekobato.net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:image" content="images/nekobato.png" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script type="module" src="/src/index.ts" defer></script>
    <style>
      body.loading {
        visibility: hidden;
        background: #a6cee2;
      }
    </style>
  </head>

  <!-- Font: https://itouhiro.hatenablog.com/entry/20130602/font -->

  <body class="loading">
    <div id="dummy-content" class="dummy-content"></div>
    <main id="main" class="glassmorphism">
      <header>
        <h1>nekobato.net</h1>
        <p>インターフェースとか</p>
      </header>
      <section class="about">
        <h2>猫鳩</h2>
        <figure class="my-image">
          <img src="images/nekobato.png" alt="nekobato avator image" />
        </figure>
        <div class="my-info">
          <dl>
            <dt>ハンドル</dt>
            <dd><%= me.handle %></dd>
            <dt>本名</dt>
            <dd><%= me.name %> (<%= me.nameEn %>)</dd>
            <dt>屋号</dt>
            <dd><%= me.company %></dd>
            <dt>タイムゾーン</dt>
            <dd><%= me.timezone %></dd>
          </dl>
        </div>
      </section>
      <section class="links">
        <h2>リンク</h2>
        <ul>
          <li>
            <a
              href="https://github.com/nekobato"
              target="_blank"
              rel="noopener noreferrer"
              >ギットハブ</a
            >
          </li>
          <li>
            <a
              href="https://x.com/nekobato"
              target="_blank"
              rel="noopener noreferrer"
              >エックス</a
            >
          </li>
          <li>
            <a
              href="https://scrapbox.io/nekobatoken/"
              target="_blank"
              rel="noopener noreferrer"
              >スクラップボックス</a
            >
          </li>
          </li>
          <li>
            <a
              href="https://sizu.me/nekobato/"
              target="_blank"
              rel="noopener noreferrer"
              >シズ</a
            >
          </li>
          <li>
            <a href="mailto:nekobato@gmail.com">メール</a>
          </li>
          <li>
            <a href="tel:81+9073014492">モシモシ</a>
          </li>
        </ul>
      </section>
      <section class="portfolio">
        <h2>つくったもの</h2>
        <div class="app">
          <ul>
            <li>
              <div>
                <a
                  href="https://github.com/nekobato/CommandCircle"
                  target="_blank"
                  rel="noopener noreferrer"
                  >CommandCircle</a
                >
              </div>
              <img
                class="badge"
                alt="GitHub tag (latest by date)"
                src="https://img.shields.io/github/v/release/nekobato/CommandCircle?label=version"
              />
            </li>
            <li>
              <div>
                <a
                  href="https://github.com/nekobato/polidium"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Polidium</a
                >
              </div>
              <img
                class="badge"
                alt="GitHub tag (latest by date)"
                src="https://img.shields.io/github/v/release/nekobato/polidium?label=version"
              />
            </li>
            <li>
              <div>
                <a
                  href="https://github.com/nekobato/davneko"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Davneko</a
                >
              </div>
              <img
                class="badge"
                alt="GitHub release (latest by date)"
                src="https://img.shields.io/github/v/release/nekobato/davneko?label=version"
              />
            </li>
            <li>
              <div>
                <a
                  href="https://github.com/nekobato/davneko-desktop"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Davneko Desktop</a
                >
              </div>
              <img
                class="badge"
                alt="GitHub release (latest by date)"
                src="https://img.shields.io/github/v/release/nekobato/davneko-desktop?label=version"
              />
            </li>
            <li>
              <div>
                <a
                  href="https://github.com/nekobato/scraplinker"
                  target="_blank"
                  rel="noopener noreferrer"
                  >ScrapLinker</a
                >
              </div>
              <img
                class="badge"
                alt="GitHub release (latest by date)"
                src="https://img.shields.io/github/v/release/nekobato/scraplinker?label=version"
              />
            </li>
            <li>
              <div>
                <a
                  href="https://github.com/nekobato/BookCafe"
                  target="_blank"
                  rel="noopener noreferrer"
                  >BookCafe</a
                >
              </div>
              <img
                class="badge"
                alt="GitHub release (latest by date)"
                src="https://img.shields.io/github/v/release/nekobato/bookcafe?label=version"
              />
            </li>
            <li>
              <div>
                <a
                  href="https://github.com/nekobato/Torepe"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Torepe</a
                >
              </div>
              <img
                class="badge"
                alt="GitHub release (latest by date)"
                src="https://img.shields.io/github/v/release/nekobato/torepe?label=version"
              />
            </li>
            <li>
              <div>
                <a
                  href="https://github.com/nekobato/GyazzAC"
                  target="_blank"
                  rel="noopener noreferrer"
                  >GyazzA(C)</a
                >
              </div>
              <img
                class="badge"
                alt="not maintenanced"
                src="https://img.shields.io/maintenance/no/2016"
              />
            </li>
            <li>
              <div>
                <a
                  href="https://github.com/nekobato/Endnanonna"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Endnanonna</a
                >
              </div>
              <img
                class="badge"
                alt="not maintenanced"
                src="https://img.shields.io/maintenance/no/2019"
              />
            </li>
          </ul>
        </div>
      </section>
      <section class="activities">
        <h2>活動履歴</h2>
        <dl>
          <dt>2022-07-20 PWA Night vol.41 ～Design〜</dt>
          <dd>
            <a
              href="https://docs.google.com/presentation/d/1RGMV6-bVkfdTUDbWkTr1XHqCY-_-sdR8umG5r47OOBE/edit#slide=id.g13e7dc8e0dd_1_462"
              target="_blank"
              rel="noopener noreferrer"
              >メルカリDesign Systemの実装と責務</a
            >
          </dd>
          <dt>2019-07-26 Gotanda.js #12 in ZEALS</dt>
          <dd>
            <a
              href="https://speakerdeck.com/nekobato/migration-to-browserwindow-in-electron"
              target="_blank"
              rel="noopener noreferrer"
              >Migrating to BrowserView in Electron</a
            >
          </dd>
          <dt>2019-07-03 Mercari x Merpay Frontend Tech Talk vol.2</dt>
          <dd>
            <a
              href="https://speakerdeck.com/nekobato/building-frontend-development-environment-and-web-performance-monitoring"
              target="_blank"
              rel="noopener noreferrer"
              >Building frontend development environment and web performance
              monitoring</a
            >
          </dd>
          <dt>2019-02-07 Meguro.es #19 @ oRo</dt>
          <dd>
            <a
              href="https://scrapbox.io/nekobatoken/Meguro.es_%2319_-_%E3%81%8A%E3%81%84%E3%81%A7%E3%82%88Denoland"
              target="_blank"
              rel="noopener noreferrer"
              >おいでよdenoland</a
            >
          </dd>
          <dt>2016-12-02 Gotanda.js #6 in Oisix</dt>
          <dd>
            <a
              href="https://speakerdeck.com/nekobato/electronnian-bao"
              target="_blank"
              rel="noopener noreferrer"
              >最近のElectronの話 (仮)</a
            >
          </dd>
          <dt>2018-09-20 Meguro.css #3 @ oRo</dt>
          <dd>
            <a
              href="https://speakerdeck.com/nekobato/mobile-animation-tuning"
              target="_blank"
              rel="noopener noreferrer"
              >Mobile animation tuning</a
            >
          </dd>
          <dt>2018-05-29 Roppongi.js #3@ウォンテッドリー</dt>
          <dd>
            <a
              href="https://speakerdeck.com/nekobato/p2p-netfwork-with-node-dot-js"
              target="_blank"
              rel="noopener noreferrer"
              >P2P Netfwork with Node.js</a
            >
          </dd>
          <dt>2016-09-02 Gotanda.js #5 in TORETA</dt>
          <dd>
            <a
              href="https://www.slideshare.net/hayatokoriyama7/vuejs-012-to-200-gotandajs-5-65623849"
              target="_blank"
              rel="noopener noreferrer"
              >Vue.js 0.12から2.0.0への移行</a
            >
          </dd>
          <dt>2016-01-08 Gotanda.js #2 〜JS新年会〜 in Gaiax</dt>
          <dd>
            <a
              href="https://www.slideshare.net/hayatokoriyama7/electron-56820071"
              target="_blank"
              rel="noopener noreferrer"
              >Electronで動画ながら見アプリを作った話</a
            >
          </dd>
          <dt>2015-10-28 Gotanda.js #1 in Mobile Factory</dt>
          <dd>webpackとcomponent時代のfile structure</dd>
          <dt>2004-06-19 Online</dt>
          <dd>Flash・動画文芸祭</dd>
          <dt>2004-12-31 Online</dt>
          <dd>紅白Flash合戦</dd>
        </dl>
      </section>

      <div class="social-divider">
        <span>以下 社会的な情報</span>
        <hr />
      </div>

      <section class="resume-education">
        <h2>学歴</h2>
        <ul class="education-list">
          <% resume.educations.forEach(ed => { %>
          <li>
            <span class="term"><%= ed.startDate %> - <%= ed.endDate %></span>
            <div class="title">
              <span class="institution"><%= ed.institution %></span>
              <span class="area"><%= ed.area %></span>
              <span class="study-type">(<%= ed.studyType %>)</span>
            </div>
          </li>
          <% }) %>
        </ul>
      </section>

      <section class="resume-experience">
        <h2>職歴</h2>
        <ul class="experience-list">
          <% resume.experiences.forEach(ex => { %>
          <li>
            <span class="term"><%= ex.startDate %> - <%= ex.endDate %></span>
            <span class="title"><%= ex.company %>（<%= ex.role %>)</span>
            <% ex.projects.forEach(project => { %>
            <div class="project">
              <span class="project-term"
                ><%= project.startDate %> - <%= project.endDate %></span
              >
              <span class="project-name"><%= project.name %></span>
              <div class="highlights">
                <% project.highlights.forEach(highlight => { %>
                <span class="highlight"><%= highlight %></span>
                <% }) %>
              </div>
            </div>
            <% }) %>
            <span></span>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>
    <footer><small>2009 - 2023 (c) nekobato.net</small></footer>
  </body>
</html>
