body,
html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 14px;
  font-style: normal;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  background: #fff; }

body {
  -webkit-transition: all .3s;
  transition: all .3s; }

header {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background: #a6cee2; }
  header h1 {
    margin: 0;
    width: 320px;
    text-align: left;
    font-size: 48px;
    font-weight: 900; }
  header .profile {
    position: relative;
    left: 48px;
    margin: 16px 0 0;
    width: 224px;
    text-align: left; }
    header .profile figure {
      position: absolute;
      top: 0;
      left: -96px;
      margin: 0;
      width: 80px;
      height: 80px;
      background: #fff;
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
      border-radius: 8px;
      -webkit-tap-highlight-color: transparent; }
      header .profile figure img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain; }
    header .profile .name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      height: 80px;
      text-align: left; }
      header .profile .name .handle {
        font-size: 32px; }
      header .profile .name .real-name {
        font-size: 16px; }
    header .profile .contact-list li {
      margin: 0 0 4px 0; }
      header .profile .contact-list li .fa {
        width: 16px;
        margin: 0 4px 0 0;
        text-align: center; }
    header .profile .social-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start; }
      header .profile .social-list li {
        width: 64px; }
        header .profile .social-list li a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column;
          flex-flow: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #000; }
          header .profile .social-list li a .fa {
            font-size: 24px;
            margin: 0 0 2px 0; }
          header .profile .social-list li a .label {
            text-transform: uppercase; }

main,
footer {
  position: relative;
  left: 50%;
  width: 50%; }

main article h1 {
  position: relative;
  left: -24px;
  text-align: left; }
  main article h1 .text {
    display: inline-block;
    padding: 8px 8px;
    background: #000;
    background-blend-mode: screen;
    line-height: 1;
    font-size: 32px;
    color: #fff;
    text-transform: uppercase; }

main .portfolio section {
  padding: 24px 32px;
  background-repeat: no-repeat;
  background-position: left center; }

footer .copyright {
  margin: 0 32px 16px 0;
  text-align: right;
  font-size: 16px;
  color: #666; }

.portfolio {
  text-align: left; }
  .portfolio section {
    position: relative; }
    .portfolio section:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5); }
    .portfolio section .link {
      position: relative;
      display: block;
      font-size: 24px;
      color: #000; }
    .portfolio section .title {
      display: block;
      font-size: 16px; }

.resume {
  text-align: left; }
