head
  title 猫鳩柔工業
  meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description", content="nekobato no homepage")
  link(href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700,900", rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css", rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
  link(href=`style.css?update=${updatedAt}`, rel="stylesheet")
  script(src=`script.js?update=${updatedAt}`, async, defer)
  script(src="https://www.googletagmanager.com/gtag/js?id=UA-55009135-1" async)
