article.portfolio
  h1
    span.text portfolio
  section
    a.link(href="//github.com/nekobato/BookCafe")
      figure.fig
        img(src="images/bookcafe.png")
      span.title BookCafe
      span.description webdavブックリーダー
      p.platform Web
  section
    a.link(href="//github.com/nekobato/ScrapLinker")
      figure.fig
        img(src="images/scraplinker.png")
      span.title ScrapLinker
      span.description ページからScrapboxのリンク記法を生成する
      p.platform Chrome extension
  section
    a.link(href="//github.com/nekobato/Polidium")
      figure.fig
        img(src="images/polidium.png")
      span.title Polidium
      span.description 半透明動画プレイヤー
      p.platform Desktop Application (Mac)
  section
    a.link(href="//github.com/nekobato/davneko")
      figure.fig
        img(src="images/davneko.png")
      span.title Davneko
      span.description webdav音楽プレイヤー
      p.platform Web, Desktop Application (Mac)
  section
    a.link(href="http://endonanonna.nekobato.net")
      figure.fig
        img(src="images/endnanonna.gif")
      span.title Endnanonna
      span.description GIFタイトルジェネレーター
      p.platform Web
  section
    a.link(href="//github.com/nekobato/GyazzAC")
      figure.fig
        img(src="images/gyazzac.png")
      span.title GyazzA.link(C)
      span.description Gyazzページをプレゼンテーションスライドにする
      p.platform bookmarklet
