article.portfolio
  h1
    span.text portfolio
  section(style="background-image: url(images/bookcafe.png)")
    a(href="//github.com/nekobato/BookCafe")
      span.title BookCafe
      span.name webdavブックリーダー
      p.platform Web
  section(style="background-image: url(images/scraplinker.png)")
    a(href="//github.com/nekobato/ScrapLinker")
      span.title ScrapLinker
      span.name ページからScrapboxのリンク記法を生成する
      p.platform Chrome extension
  section(style="background-image: url(images/polidium.png)")
    a(href="//github.com/nekobato/Polidium")
      span.title Polidium
      span.name 半透明動画プレイヤー
      p.platform Desktop Application (Mac)
  section(style="background-image: url(images/davneko.png)")
    a(href="//github.com/nekobato/davneko")
      span.title Davneko
      span.name webdav音楽プレイヤー
      p.platform Web, Desktop Application (Mac)
  section(style="background-image: url(images/endnanonna.gif)")
    a(href="http://endonanonna.nekobato.net")
      span.title Endnanonna
      span.name GIFタイトルジェネレーター
      p.platform Web
  section(style="background-image: url(images/gyazzac.png)")
    a(href="//github.com/nekobato/GyazzAC")
      span.title GyazzA(C)
      span.name Gyazzページをプレゼンテーションスライドにする
      p.platform bookmarklet
