article.resume
  h1
    span.text resume
  article
    section
      dl
        dt ハンドルネーム
        dd 猫鳩 (nekobato)
        dt 本名
        dd 郡山 隼人 (コオリヤマ ハヤト)
        dt 所属
        dd 株式会社モバイルファクトリー フロントエンド リードエンジニア
      h2 学歴
      dl
        dt 2004/04 - 2007/03
        dd 南山中学高等学校 男子部
        dt 2009/04 - 2013/03
        dd 慶応義塾大学 環境情報学部
        dt 2013/04 - 2015/03
        dd 慶應義塾大学院 政策・メディア学科 CIプログラム 修士課程
    section
      h2 職歴
      dl
        dt 2012/04 - 2015/03, 2017/01 -
        dd 株式会社 U-NOTE エンジニア
        dt 2015/04 -
        dd 株式会社 モバイルファクトリー フロントエンドエンジニア
