@font-face {
  font-family: penna;
  src: url("../fonts/penna-webfont.eot") format('embedded-opentype') url("../fonts/penna-webfont.woff") format('woff') url("../fonts/penna-webfont.ttf") format('truetype');
}
html {
  padding: 0;
}
body {
  width: 900px;
  margin: 0 auto;
  padding: 60px;
  font-size: 15px;
}
h1 {
  font-size: 72px;
  font-weight: normal;
  font-family: penna;
  margin: 0 20px;
  color: #333;
}
h2 {
  font-size: 48px;
  font-weight: normal;
  font-family: penna;
  margin: 0.8em 0 0;
}
h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0 4px 0 0;
  color: #ef3f3f;
}
dl, ul {
  margin: 0 0 0 20px;
  padding: 0;
}
dt, dd, li {
  line-height: 2em;
}
dt {
  float: left;
  margin: 0 8px 0 0;
  color: #e33;
}
dl {
  color: #444444;
}
li {
  display: inline-block;
  margin: 0 4px 0 0;
  list-style: none;
}
a, a:hover{
  text-decoration: none;
  color: #096;
}
footer {
  margin: 40px 0 0 0;
}
