doctype html
html
  head
    title nekobato.net
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="nekobato no homepage")
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700,900", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")
    link(href="style.css?update=2017-02-24", rel="stylesheet")
      
  body
    
    header.page-left
      div.left-inner
        h1.title nekobato.net
        section#profile.profile
          div.profile-card
            div.card-inner
              div.image-container
                img.image(src="./img/nekobato.png")
              div.title-group
                span.title 猫鳩
                span.description Hayato Koriyama
            div.actions
              a.action-button(href="http://nekobato.hatenablog.com")
                i.fa.fa-rss
                span blog
              a.action-button(href="https://twitter.com/nekobato")
                i.fa.fa-twitter
                span twitter
              a.action-button(href="https://github.com/nekobato")
                i.fa.fa-github
                span github
              a.action-button(href="mailto:nekobato@gmail.com")
                i.fa.fa-envelope
                span email
    main.page-right
      section#portfolio.portfolio-section
        div.portfolio-card
          div.card-inner
            div.image-container
              img.image(src="./img/polidium.png")
            div.title-group
              span.title Polidium
              span.description 半透明動画プレイヤー
          div.actions.type-portfolio
            a.action-button(href="https://github.com/nekobato/Polidium")
              i.fa.fa-github
              span github
            a.action-button(href="https://github.com/nekobato/Polidium/releases")
              i.fa.fa-download
              span download
              
        div.portfolio-card
          div.card-inner
            div.image-container
              img.image(src="./img/davneko.png")
            div.title-group
              span.title Davneko
              span.description webdav音楽プレイヤー
          div.actions.type-portfolio
            a.action-button(href="https://github.com/nekobato/Davneko")
              i.fa.fa-github
              span github
              
        div.portfolio-card
          div.card-inner
            div.image-container
              img.image(src="./img/endnanonna.gif")
            div.title-group
              span.title Endnanonna
              span.description GIFタイトルジェネレーター
          div.actions.type-portfolio
            a.action-button(href="http://endnanonna.nekobato.net/")
              i.fa.fa-link
              span website

        div.portfolio-card
          div.card-inner
            div.image-container
              img.image(src="./img/gyazzac.png")
            div.title-group
              span.title GyazzA(C)
              span.description Gyazzからスライドを生成する
          div.actions.type-portfolio
            a.action-button(href="https://github.com/nekobato/GyazzAC")
              i.fa.fa-github
              span github
              
        footer
          p.copyright © 2009-2017 nekobato.net, All rights reserved.
                    

  script(src="analytics.js" async defer)
