doctype html
html
  head
    title nekobato.net
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="nekobato no homepage")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css",
      rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css",
      rel="stylesheet")
    link(href="./style.css",
      rel="stylesheet")
      
  body.center
    header
      h1 nekobato.net
    main
      section(id="profile")
        h3 こんにちは
        p nekobatoです
        section
          h4 リンクはこちら
          ul
            li
              a(href="http://nekobato.hatenablog.com")
                div.btn
                  i.fa.fa-rss.left
                  | blog
            li
              a(href="https://twitter.com/nekobato")
                div.btn
                  i.fa.fa-twitter.left
                  | twitter
            li
              a(href="https://github.com/nekobato")
                div.btn
                  i.fa.fa-github.left
                  | github
            li
              a(href="mailto:nekobato@gmail.com")
                div.btn
                  i.fa.fa-envelope.left
                  | mail
      section.row.container(id="portfolio")
        h3 つくるったもの
        div.row
          section.card.col.s4.offset-s4
            div.card-content
              span.card-title Polidium
              div.card-action
                a(href="https://github.com/nekobato/Polidium")
                  div.btn
                    i.fa.fa-github
        div.row
          section.card.col.s4.offset-s4
            div.card-content
              span.card-title Davneko
              div.card-action
                a(href="https://github.com/nekobato/Davneko")
                  div.btn
                    i.fa.fa-github
        div.row
          section.card.col.s4.offset-s4
            div.card-content
              span.card-title Endnanonna
              div.card-action
                a(href="http://endnanonna.nekobato.net/")
                  div.btn
                    i.fa.fa-link
    footer
      p.copyright © 2009-2016 nekobato.net, All rights reserved.
