<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>nekobato.net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue" defer></script>
    <script type="module" src="script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>nekobato.net</h1>
      <section class="profile">
        <figure><img src="./images/nekobato.png" /></figure>
        <span class="handle">猫鳩</span
        ><span class="realname">Hayato Koriyama</span
        ><span class="timezone"></span>
        <ul class="link-list">
          <li>
            <a href="https://github.com/nekobato"
              ><span class="fab fa-github"></span
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/nekobato"
              ><span class="fab fa-twitter"></span
            ></a>
          </li>
          <li>
            <a href="mailto:nekobato@gmail.com"
              ><span class="fas fa-envelope"></span
            ></a>
          </li>
          <li>
            <a href="tel:09073014492"><span class="fas fa-phone"></span></a>
          </li>
        </ul>
      </section>
    </header>
    <main>
      <section class="apps">
        <h1>Applications / Interfaces</h1>
        <div class="section-content">
          <div class="app-detail">
            <a href="http://github.com/nekobato/Polidium"
              ><span class="name">Polidium</span
              ><span class="description"
                >作業と動画視聴を両立するためのメディアプレイヤー</span
              ></a
            >
          </div>
          <div class="app-detail">
            <a href="http://github.com/nekobato/Davneko"
              ><span class="name">Davneko</span
              ><span class="description">Web音楽プレイヤー</span></a
            >
          </div>
          <div class="app-detail">
            <a href="http://github.com/nekobato/BookCafe"
              ><span class="name">BookCafe</span
              ><span class="description">Webブックリーダー</span></a
            >
          </div>
          <div class="app-detail">
            <a href="http://github.com/nekobato/ScrapLinker"
              ><span class="name">ScrapLinker</span
              ><span class="description"
                >開いているタブのリンクをScrapbox記法で生成するChrome
                extension</span
              ></a
            >
          </div>
          <div class="app-detail">
            <a href="http://github.com/nekobato/endnanonna"
              ><span class="name">Endnanonna</span
              ><span class="description">GIFジェネレーター</span></a
            >
          </div>
        </div>
      </section>
      <section class="education">
        <h1>Education</h1>
        <div class="section-content">
          <ul class="education-list">
            <li>
              <span class="from-to">2009/04 - 2013/03</span
              ><span class="name">慶応義塾大学 環境情報学部</span>
            </li>
            <li>
              <span class="from-to">2013/04 - 2015/03</span
              ><span class="name"
                >慶應義塾大学院 政策・メディア学科 CIプログラム 修士課程</span
              >
            </li>
          </ul>
        </div>
      </section>
      <section class="experience">
        <h1>Experience</h1>
        <div class="section-content">
          <ul class="experience-list">
            <li>
              <span class="from-to">2012/04 - 2015/03</span
              ><span class="name">株式会社 U-NOTE - 業務委託エンジニア</span>
            </li>
            <li>
              <span class="from-to">2017/01 - now</span
              ><span class="name">株式会社 U-NOTE - 業務委託エンジニア</span>
            </li>
            <li>
              <span class="from-to">2015/04 - 2018/06</span
              ><span class="name"
                >株式会社 モバイルファクトリー - フロントエンドエンジニア</span
              >
            </li>
            <li>
              <span class="from-to">2018/07 - now</span
              ><span class="name"
                >株式会社 メルカリ - フロントエンドエンジニア</span
              >
            </li>
          </ul>
        </div>
      </section>
    </main>
    <footer><small>2009 - 2018 (C) nekobato.net</small></footer>
  </body>
</html>
