@import './reset.less';

body {
  transition: all 0.3s;
  // background: #a6cee2;
  background: #615fb4;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  text-align: left;
  color: #fff;

  h1,
  .profile {
    margin: 0 0 0 40px;
    width: 295px;
    text-align: left;
  }

  h1 {
    font-size: 40px;
    font-weight: 900;
  }

  figure {
    position: absolute;
    top: 0;
    left: -96px;
    margin: 0;
    width: 80px;
    height: 80px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    -webkit-tap-highlight-color: transparent;

    >img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

main {
  position: relative;
  top: 0;
  left: 50%;
  padding-bottom: 40px;
  text-align: left;
  width: 480px;
  background: #fff;

  section {
    h1 {
      position: relative;
      display: inline-block;
      margin: 40px 0 0 0;
      padding: 8px 16px;
      background: #000;
      color: #ededed;
      font-size: 24px;
      left: -80px;
    }

    .section-content {
      margin: 24px 0 0 0;
    }
  }
}

section.profile {
  position: relative;

  .handle {
    display: block;
  }

  .handle {
    font-size: 24px;
    font-weight: lighter;
  }

  .link-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-top: 36px;

    >li {
      font-size: 20px;

      a {
        color: inherit;

        &:hover+.link-title {
          display: block;
        }
      }

      span {
        text-shadow: 1px 0 1px rgba(0, 0, 0, 0.24);
      }

      .link-title {
        position: absolute;
        display: none;
        bottom: -18px;
        left: 0;
        width: 320px;
        font-size: 12px;
      }
    }
  }
}

section.apps {
  a {
    display: block;
    text-decoration: none;
  }

  span {
    color: rgba(0, 0, 0, 0.72);
  }

  .app-detail {
    margin: 16px 8px;
    padding: 8px;
    height: 160px;
    background: rgba(0, 0, 0, 0.40);
    border-radius: 4px;
  }

  .name,
  .description {
    display: block;
    color: #fff;
  }

  .name {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }
}

section.education {
  .from-to {
    display: block;
    font-size: 14px;
  }

  .name {
    display: block;
    margin-bottom: 8px;
  }
}

section.experience {
  .from-to {
    display: block;
    font-size: 14px;
  }

  .name {
    display: block;
    margin-bottom: 4px;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 50%;
  padding: 40px 0 16px;
  text-align: center;

  small {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.72);
  }
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }

  header {
    position: relative;
    width: 100%;
    height: 50%;

    .left-inner {
      padding: 20px 0 10px;

      .image-container {
        display: none;
      }
    }
  }

  .page-right {
    position: relative;
    left: 0;
    padding: 0 0 0 10px;
    width: 100%;
    height: auto;
  }
}