@import "./reset.scss";

@font-face {
  font-family: "PixelMplus12";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/PixelMplus12-Regular.woff2), url(/PixelMplus12-Regular.woff2);
}

a {
  text-decoration-color: hsla(200, 30%, 50%, 1);

  &:link,
  &:visited {
    color: hsla(200, 30%, 30%, 1);
  }

  &:hover {
    color: hsla(200, 30%, 60%, 1);
  }
}

html,
body {
  min-height: 100%;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a6cee2;
}

main {
  margin: auto;
  padding: 0 16px 32px;
  width: 320px;
  height: 560px;
  border: 1px solid #ddd;
  border-radius: 16px;
  text-align: left;
  font-size: 14px;
  overflow-y: scroll;
  font-family: PixelMplus12;
  color: #282828;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

main::-webkit-scrollbar {
  display: none;
}

header {
  padding: 0 0 32px;
  h1 {
    padding: 16px 0 0 0;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
  }
}

section {
  padding: 16px 0;
}

section.about {
  figure {
    margin: 16px 0 0 0;
  }
  figure img {
    width: 120px;
    height: 120px;
  }
}

section.portfolio {
  line-height: 20px;
}

h2 {
  margin: 24px 0;
}

dl {
  margin: 16px 0 0;
  text-align: left;
  line-height: 1.25;
  dt {
    margin: 24px 0 0 0;
  }
  dd {
    margin: 4px 0 0 0;
  }
}

.education-list {
  margin: 16px 0 0;
  text-align: left;
  line-height: 1.25;
  > li {
    display: block;
    margin: 24px 0 0 0;
    border: 0;
    .term {
      display: block;
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.experience-list {
  margin: 16px 0 0;
  text-align: left;
  line-height: 1.25;
  > li {
    display: block;
    margin: 24px 0 0 0;
    border: 0;
    .term,
    .title,
    .project,
    .project-name,
    .project-term,
    .highlight {
      display: block;
    }
    .term {
      font-size: 12px;
      font-weight: bold;
    }
    .title {
      font-weight: bold;
      margin: 4px 0 0 0;
    }
    .project {
      margin: 8px 0 0 16px;
      font-size: 12px;
      .project-term {
        color: rgba(0, 0, 0, 0.5);
      }
      .project-name {
        margin: 4px 0 0 0;
      }
    }
    .highlights {
        margin: 4px 0 0;
    }
  }
}

.links,
.app {
  ul {
    padding: 0 0 0 8px;
    list-style-type: square;
    li {
      position: relative;
      list-style: none;
      margin: 12px 0 0 0;
      font-size: 16px;
      font-weight: bold;
      &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: -8px;
        bottom: 4px;
        margin: auto;
        width: 1px;
        height: 100%;
        border-radius: 1px;
        background: #282828;
      }

      .title {
        margin-bottom: 4px;
      }
    }
  }
}

p {
  line-height: 24px;
}

footer {
  position: fixed;
  right: 8px;
  bottom: 8px;
  font-family: PixelMplus12;
  color: rgba(0, 0, 0, 0.64);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
}

.social-details {
  &[open] {
    .social-summary {
      .chevron.down {
        display: none;
      }
    }
  }

  &:not([open]) {
    .social-summary {
      .chevron.up {
        display: none;
      }
    }
  }

  .social-summary {
    margin: 56px 0 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 100%;
    hr {
      border: 0;
      width: 100%;
      height: 0px;
      border-top: 1px dashed #00000030;
    }
    div {
      background-color: #d5e1e7;
      border: 1px solid #00000030;
      padding: 4px 8px;
      position: absolute;
      display: inline-flex;
      align-items: center;
      font-size: 14x;

      > .chevron {
        width: 16px;
        height: 16px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  main {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 641px) {
  main {
    position: fixed;
    top: calc(50% - 240px);
    left: calc(50% - 160px);
  }
}

.glassmorphism {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.32);
}
