@import './reset.less';

body {
  transition: all 0.3s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background: #a6cee2;
  text-align: left;

  h1,
  .profile {
    margin: 0 auto;
    width: 295px;
    text-align: left;
  }

  h1 {
    font-size: 48px;
    font-weight: 900;
  }

  figure {
    position: absolute;
    top: 0;
    left: -96px;
    margin: 0;
    width: 80px;
    height: 80px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    -webkit-tap-highlight-color: transparent;

    >img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

main,
footer {
  position: relative;
  top: 0;
  left: 50%;
  padding: 40px 0 0 60px;
  width: 50%;
  text-align: left;
}

main {
  section {
    h1 {
      position: relative;
      display: inline-block;
      padding: 8px 16px;
      background: #000;
      color: #ededed;
      font-size: 24px;
      left: -80px;
    }

    .section-content {
      margin: 40px 0 0 0;
    }
  }
}

section.profile {
  position: relative;

  .handle,
  .realname {
    display: block;
  }

  .handle {
    font-size: 32px;
    font-weight: lighter;
  }

  .realname {
    margin-top: 2px;
  }

  .link-list {
    display: flex;
    justify-content: space-between;
    width: 160px;
    margin-top: 40px;

    >li {
      font-size: 24px;

      a {
        color: #343434;
      }

      span {
        text-shadow: 1px 0 1px #fff;
      }
    }
  }
}

section.apps {
  a {
    text-decoration: none;
  }

  .app-detail {
    height: 240px;
  }

  .app-detail:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .name {
    display: block;
  }
}

footer {
  padding: 40px 0 16px;
  margin: 0;
  text-align: center;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }

  header {
    position: relative;
    width: 100%;
    height: 50%;

    .left-inner {
      padding: 20px 0 10px;

      .image-container {
        display: none;
      }
    }
  }

  .page-right {
    position: relative;
    left: 0;
    padding: 0 0 0 10px;
    width: 100%;
    height: auto;
  }
}