.panel-base() {
  display: block;
  position: relative;
  text-align: left;
  background: rgba(255, 255, 255, .7);
}

body,
html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 14px;
  font-style: normal;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  background: #fff;
}

body {
  transition: all .3s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background: #a6cee2;

  h1 {
    font-size: 48px;
    font-weight: 900;
  }

  figure {
    position: absolute;
    top: 0;
    left: -100px;
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 2px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.16);
    overflow: hidden;
    border: 2px solid #e7e2ec;
    -webkit-tap-highlight-color: transparent;
  }
}

main,
footer {
  position: relative;
  left: 50%;
  width: 50%;
}

main {
  article {
    h1 {
      position: relative;
      left: -24px;
      text-align: left;
      .text {
        display: inline-block;
        padding: 8px 8px;
        background: #000;
        line-height: 1;
        font-size: 32px;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
  .portfolio {
    section {
      padding: 24px 32px;
      background-repeat: no-repeat;
      background-position: left center;
    }
  }
}

footer {
  .copyright {
    margin: 0 32px 16px 0;
    text-align: right;
    font-size: 16px;
    color: #666;
  }
}
